body {
    font-family: Arial;
    padding: 40px;
    background-color: #f4f6f8;
}

input {
    padding: 8px;
    margin-right: 8px;
}

button {
    padding: 8px 16px;
}

h2, h3 {
    color: #0078d4;
}

ul {
    list-style-type: none;
    padding-left: 0;
}
